<div class="comment_body" id="comment_id_{{ comment.id }}">
    <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
        {% if comment.user %}
            <div class="author_image">
                <div><img src="{% if comment.user.profileImage %}{{ comment.user.profileImage }}{% else %}{{ asset('images/profile-default.png') }}{% endif %}" alt=""></div>
            </div>
            <small class="post_meta">
                <a href="{{ path('user_details', {'username':comment.user.username}) }}">{{ comment.user.username }}</a>
                {% if comment.parentComment %} <a href="#comment_id_{{ comment.parentComment.id }}"> <i class="fa fa-reply" aria-hidden="false"></i> {{ comment.parentComment.commenterName }} </a> {% endif %}
                <span>{{ comment.dateAdded|date("d/m, Y - H:i ") }}</span>
            </small>
        {% else %}
            <div class="author_image">
                <div><img src="{{ asset('images/profile-default.png') }}"></div>
            </div>
            <small class="post_meta"><span>{{ comment.commenterName }}</span><span>{{ comment.dateAdded|date("d/m, Y - H:i ") }}</span></small>
        {% endif %}
        {% if (app.user and comment.user == null) or (app.user and app.user.id != comment.user.id) %}
        <button target_comment_id="{{ comment.id }}" type="button" class="reply_button ml-auto">
            {{ localLang.reply }}
        </button>
        {% endif %}
        {% if (app.user and article.author.id == app.user.id) or (app.user and comment.user  and comment.user.id == app.user.id) %}
            <button target_article_id="{{ article.id }}" target_comment_id="{{ comment.id }}" token="{{ csrf_token(comment.id) }}" class="btn btn-sm btn-danger ml-auto remove-comment-btn" >X</button>
        {% endif %}
    </div>
    <div class="comment_content">
        <p>{{ comment.content }}</p>
    </div>
    <div class="reply-form" style="display: none;">
        <form action="{{ path('leave_reply_post') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ path('show_article', {'id':article.id}) }}#comment_id_{{ comment.id }}" name="reply[redirect]">
            <input type="hidden" value="{{ comment.id }}" name="reply[parentCommentId]">
            {% if app.user %}
            <input name="reply[commenterName]" type="hidden" value="{{ app.user.username }}"  required="required">
            <input name="reply[commenterEmail]"  value="{{ app.user.email }}" type="hidden" required="required">
            {% endif %}
            <input type="hidden" name="token" value="{{ csrf_token(comment.id) }}">
            <textarea name="reply[content]" class="comment_text" placeholder="{{ localLang.yourComment }}" required="required"></textarea>
            <button type="submit" class="comment_button">{{ localLang.reply }}</button>
        </form>
    </div>
</div>