<h3>Нова публикация от {{ article.author.username }}</h3>
<div>
    <p>{{ article.title }}</p>
    <small>{{ article.summary }}</small><br>
    <a href="{{ url('homepage') }}articles/{{ article.id }}">Прочетете повече</a>
</div>
{% embed 'mail/partials/lang/bg/unsubscribe.html.twig' %} {% endembed %}