{% extends 'admin/panel.html.twig' %}
{% block title %}Browse banners{% endblock %}
{% block sectionBody %}
    <h2 class="text-dark">Banners</h2>
    <hr>
    <div>
        <table class="table">
            <thead class="rounded bg-dark p-0 text-light">
            <tr>
                <th scope="row">
                    Id
                </th>
                <th scope="row">
                    Image
                </th>
                <th scope="row">

                </th>
            </tr>
            </thead>
            <tbody>
            {% for image in banners %}
                {#<hr>#}
                <tr>
                    <th>
                        <p style="cursor: pointer;" src="{{ image.imageLink }}" orderIndex="{{ image.orderIndex }}" bannerId="{{ image.id }}"
                           class="text-dark show-image-modal">{{ image.id }}</p>
                    </th>
                    <td>
                        <img class="show-image-modal" src="{{ image.imageLink }}"  orderIndex="{{ image.orderIndex }}" bannerId="{{ image.id }}"
                             style="max-width: 70px; max-height: 70px;">
                    </td>
                    <td class="text-right">
                        <button type="button" imageId="{{ image.id }}"
                                class="btn btn-success btn-outline-danger remove-image-btn">Remove
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="showBannerModal" class="modal-container">
        <div class="modal-content">
            <div class="text-right">
                <span class="close-modal"><i class="fa fa-close" aria-hidden="true"></i> </span>
            </div>
            <div class="container text-center">
                <div style="max-width: 300px; max-height: 300px; margin:0 auto;">
                    <img src="" id="targetImageSrc" style="width:100%;">
                </div>
                <form method="post" style="max-width: 200px; margin:0 auto;" id="editBannerForm">
                    <div class="form-group">
                        <label for="targetBannerIndex">Order Index (higher is better)</label>
                        <input class="form-control" type="text" name="orderIndex" value="" id="targetBannerIndex">
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token('token') }}">
                    <div class="text-right">
                        <button class="btn btn-outline-dark" type="submit">Save</button>
                    </div>
                </form>
                <br/>

            </div>
        </div>
    </div>
{% endblock %}

{% block sectionStyles %}
    <link rel="stylesheet" href="{{ asset('styles/styles/modal.css') }}" type="text/css">
{% endblock %}

{% block sectionScripts %}
    <script src="{{ asset('styles/js/modal.js') }}"></script>
    <script>
        $(function () {
            var targetImageSrc = $('#targetImageSrc');
            var targetOrderIndex = $('#targetBannerIndex');
            var editBannerForm = $('#editBannerForm');
            var bannerEditBaseUrl = "/admin/banners/edit/";
            var buttons = $('.show-image-modal');

            var modalManager = new ModalManager('showBannerModal', '');
            buttons.on('click', function (e) {
                var imageLink = $(this).attr('src');
                var orderIndex = $(this).attr('orderIndex');
                var bannerId = $(this).attr('bannerId');

                editBannerForm.attr('action', bannerEditBaseUrl + bannerId);
                targetImageSrc.attr('src', imageLink);
                targetOrderIndex.val(orderIndex);
                modalManager.showModal();
            });


            var removeButtons = $('.remove-image-btn');
            removeButtons.on('click', function (e) {
                var imgId = $(this).attr('imageId');
                var url = "/admin/banners/remove/" + imgId;

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {token: CSRF_TOKEN},
                    success: function () {
                        location.reload();
                    },
                    error: console.error
                })
            });
        });
    </script>
{% endblock %}