<header class="header">
    <div class="container" style="max-width: 1600px;">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo"><a href="/"><img src="{{ asset('images/jesterous-logo.png') }}" class="logo" style="max-height: 85px;" alt="">
                            <span class="font-kirang-hearang">{{ twigInformer.websiteName }}</span></a></div>
                    <nav class="main_nav">
                        <ul>
                            <li class="route-"><a href="/">{{ localLang.home }}</a></li>
                            <li class="route-categories"><a href="{{ path('categories_page') }}">{{ localLang.blogPosts }}</a></li>
                            <li class="route-contacts"><a href="{{ path('contacts_page') }}">{{ localLang.contacts }}</a></li>
                            {% if app.user %}
                                <li class="route-logout"><a href="{{ path('security_logout') }}">{{ localLang.logout }}</a> </li>
                            {% else %}
                                <li class="route-login"><a href="{{ path('security_login') }}">{{ localLang.login }}</a> </li>
                                <li class="route-register"><a href="{{ path('security_register') }}">{{ localLang.register }}</a> </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="search_container ml-auto">
                        <div class="weather">
                            <i id="notificationBtn" class="fa fa-bell"></i>
                        </div>
                        <div class="weather">
                            <div class="language-selection">
                                <div>
                                    <label class="m-0">BG
                                        <input name="lang" type="radio" value="bg">
                                    </label>
                                </div>
                                <div>
                                    <label class="m-0">
                                        EN
                                        <input  name="lang" type="radio" value="en">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <form action="#">
                            <input type="search" class="header_search_input" required="required"
                                   placeholder="{{ localLang.typeToSearch }}">
                            {#<img class="header_search_icon" src="images/search.png" alt="">#}
                            <i class="fa fa-search header_search_icon" aria-hidden="true"></i>
                        </form>

                    </div>
                    <div class="hamburger ml-auto menu_mm">
                        <i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="logo menu_mm"><a href="#">{{ twigInformer.websiteName }}</a></div>
    <div class="search">
        <form action="#">
            <input type="search" class="header_search_input menu_mm" required="required"
                   placeholder="{{ localLang.typeToSearch }}">
            <i class="fa fa-search header_search_icon menu_mm"></i>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="/">{{ localLang.home }}</a></li>
            <li class="menu_mm"><a href="{{ path('categories_page') }}">{{ localLang.blogPosts }}</a></li>
            <li class="menu_mm"><a href="{{ path('contacts_page') }}">{{ localLang.contacts }}</a></li>
            {% if app.user %}
                <li class="menu_mm"><a href="{{ path('security_logout') }}">{{ localLang.logout }}</a> </li>
            {% else %}
                <li class="menu_mm"><a href="{{ path('security_login') }}">{{ localLang.login }}</a> </li>
                <li class="menu_mm"><a href="{{ path('security_register') }}">{{ localLang.register }}</a> </li>
            {% endif %}
            <li class="menu_mm">
                <div class="language-selection">
                    <div>
                        <label class="m-0">BG
                            <input name="lang" type="checkbox" value="bg">
                        </label>
                    </div>
                    <div>
                        <label class="m-0">
                            EN
                            <input  name="lang" type="checkbox" value="en">
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>