<div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
        <!-- Slider Item
        THIS DIV IS GOING TO BE FOR-EACHED!
        slider shows as many as we pass to it costom.js initHomeSlider() -->
        {% for sliderItem in sliderArticles %}
            <div class="owl-item">
                <div class="home_slider_background"
                     style="background-image:url('{{ sliderItem.article.backgroundImageLink }}')"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content"
                                     style="background:rgba(0,0,0,0.8); padding: 10px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;">
                                    <div class="home_slider_item_category trans_200">
                                        <a href="{{ path('category_details', {'catName':sliderItem.article.category.categoryName}) }}" class="trans_200">
                                            {{ sliderItem.article.category.categoryName }}
                                        </a>
                                    </div>
                                    <div class="home_slider_item_title">
                                        <a href="{{ path('show_article', {'id':sliderItem.article.id}) }}">{{ sliderItem.article.title }}</a><br>
                                        <span>{{ sliderItem.article.summary }}</span>
                                    </div>
                                    <div class="home_slider_item_link">
                                        <a href="{{ path('show_article', {'id': sliderItem.article.id}) }}" class="text-light">
                                            {{ localLang.readMore }} &nbsp<i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Similar Posts -->
                <div class="similar_posts_container">
                    <div class="container">
                        <div class="row d-flex flex-row align-items-end">

                            <!-- Similar Posts -->
                            {% for similarArticle in sliderItem.similarArticles %}
                                <div class="col-lg-3 col-md-6 similar_post_col">
                                    <div class="similar_post trans_200">
                                        <a href="{{ path('show_article',{'id':similarArticle.id}) }}">{{ similarArticle.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="home_slider_next_container">
                        <div class="home_slider_next"
                             style="background-image:url('{{ sliderItem.nextArticle.backgroundImageLink }}'); -webkit-background-size: cover;background-size: cover;">
                            <div class="home_slider_next_background trans_400"></div>
                            <div class="home_slider_next_content trans_400">
                                <div class="home_slider_next_title">{{ localLang.nextArticle }}</div>
                                <div class="home_slider_next_link">{{ sliderItem.nextArticle.title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- dots control section -->
    <div class="custom_nav_container home_slider_nav_container">
        <div class="custom_prev custom_prev_home_slider">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <ul id="custom_dots" class="custom_dots custom_dots_home_slider">
            {% for i in sliderArticles %}
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
            {% endfor %}
        </ul>
        <div class="custom_next custom_next_home_slider">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>

</div>