<div style="display: none" class="scripts-holer">

    <script src="{{ asset('styles/styles/bootstrap4/popper.js') }}"></script>
    <script src="{{ asset('styles/styles/bootstrap4/bootstrap.min.js') }}"></script>
    <script src="{{ asset('styles/plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
    <script src="{{ asset('styles/plugins/easing/easing.js') }}"></script>
    <script src="{{ asset('styles/plugins/masonry/masonry.js') }}"></script>
    <!-- these scripts are not present in all pages -->
    <script src="{{ asset('styles/plugins/masonry/images_loaded.js') }}"></script>
    <script src="{{ asset('styles/plugins/parallax-js-master/parallax.min.js') }}"></script>
    {#<script src="{{ asset('styles/js/custom.js') }}"></script> TODO put consider putting every init function in here (since article details page doesnt go well with custom.js)#}

    <!-- custom scripts by backendDevs -->
    <script src="{{ asset('styles/js/lang-manager.js') }}"></script>
</div>
