<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <title>{% block title %}Jesterous{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- metas -->
    <meta charset="UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- facebook  -->
    {#<meta property="fb:app_id" content="{% block fpApp %}877451472440637{% endblock %}">#}
    <meta property="og:type" content="{% block ogType %}website{% endblock %}"/>
    <meta property="og:url" content="{% block ogUrl %}178.239.112.78{% endblock %}"/>
    <meta property="og:title" content="{% block ogTitle %}Jesterous{% endblock %}"/>
    <meta property="og:image"
          content="{% block ogImage %}https://sibirskozdrave-montana.com/styles/images/pageBanner.png{% endblock %}"/>
    <meta property="og:description" content="{% block ogDescription %}Сайт за {% endblock %}"/>
    {% block facebookMetas %} {% endblock %}
    <!-- end facebook -->

    <!-- custom fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('styles/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/additional_styles.css') }}">


    {#<link rel="stylesheet" type="text/css" href="{{ asset('styles/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.css') }}">#}

    {% block stylesheets %}{% endblock %}

    <!-- js-->
    <script src="{{ asset('styles/js/jquery-3.2.1.min.js') }}"></script>

</head>
<body>

{% embed 'partials/header.html.twig' %} {% endembed %}

{% block body %}{% endblock %}

{% embed 'partials/footer.html.twig' %} {% endembed %}


<!-- scripts -->
{% embed 'partials/scripts.html.twig' %} {% endembed %}
{% block javascripts %}{% endblock %}

<!-- to be removed -->
<script>

    $(function () {
        var activeNav = '.route{{ app.request.pathinfo }}'.replace(/\//g, "-");
        $(activeNav).addClass('active');
    });

</script>

</body>
</html>
