{% extends 'base.html.twig' %}

{% block ogType %}article{% endblock %}
{% block ogUrl %}{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}{% endblock %}
{% block ogTitle %}{{ article.title }}{% endblock %}
{% block ogDescription %}{{ article.summary }}{% endblock %}
{% block ogImage %}{{ url('homepage')|trim('/', 'right') }}{{ article.backgroundImageLink }}{% endblock %}
{% block facebookMetas %}
    <meta property="article:section" content="{{ article.category.categoryName }}">
    <meta property="article:tag" content="lifestyle">
{% endblock %}

{% block body %}

    {% embed 'partials/banner.html.twig' with {'bannerTitle':article.title, 'catName':article.category.categoryName, 'background':article.backgroundImageLink} %} {% endembed %}

    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <!-- Main Content -->
                <div class="col-lg-9">
                    <div class="post_content">

                        <!-- Top Panel -->
                        {% embed 'partials/articles/article-author-info-panel.html.twig' with {'article':article} %} {% endembed %}
                        <!-- Post Body -->

                        <div class="post_body ">
                            <div class="pb-2"><p class="text-dark">{{ article.summary }}</p></div>
                            <div class="ql-editor ql-snow">
                                {{ article.mainContent|raw }}
                            </div>
                            <!-- Post Tags -->
                            <div class="post_tags">
                                <ul>
                                    {% for tag in article.tags %}
                                    <li class="post_tag"><a href="{{ path('tag_details', {'tagName':tag.tagName}) }}">{{ tag.tagName }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <small>Views: {{ article.views }}</small>
                        </div>

                        <!-- Bottom Panel -->
                        {% embed 'partials/articles/article-author-info-panel.html.twig' with {'article':article} %} {% endembed %}

                        <!-- Similar Posts -->
                        <div class="similar_posts">
                            <div class="grid clearfix">

                                {% for article in similarArticles %}
                                    {% embed 'partials/articles/small-card-with-image.html.twig' with {'article':article} %} {% endembed %}
                                {% endfor %}

                            </div>

                            <!-- Post Comment -->
                            {% embed 'partials/comments/article-comment-form.html.twig' with {'article':article} %} {% endembed %}

                            {% embed 'partials/comments/article-comment-section.html.twig' with {'comments':article.comments} %} {% endembed %}

                        </div>
                    </div>
                </div>
                {% embed 'partials/sidebar/sidebar.html.twig' %}
                    {% block sections %}
                        {% embed 'partials/sidebar/top-stories-section.html.twig' %} {% endembed %}
                        {% embed 'partials/sidebar/similar-articles.html.twig' with {'similarArticles':similarArticlesSidebar} %} {% endembed %}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/post.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/post_responsive.css') }}">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/post.js') }}"></script>
    <script>
        $(function () {
            viewArticle();

            function viewArticle() {
                document.onreadystatechange = function () {
                    setTimeout(function () {
                        $.ajax({
                            type: "POST",
                            url: '{{ path('article_add_view', {'id':article.id}) }}',
                            data: {token: '{{ csrf_token(article.id) }}'},
                            success: function (data) {
                                console.log(data);
                            },
                            error: console.error
                        });
                    }, 3000);
                };
            }
        });
    </script>
{% endblock %}