{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/category.jpg" data-speed="0.8"></div>
    </div>

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Main Content -->

            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Category -->

                    <div class="category">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">{{ localLang.blogPosts }}</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    {% for category in viewModel.categories %}
                                        <li class=""><a href="{{ path('category_details', {'catName':category.categoryName}) }}">{{ category.categoryName }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="section_panel_more d-none d-sm-block d-md-none">
                                <ul>
                                    <li>more
                                        <ul>
                                            {% for category in viewModel.categories %}
                                                <li class=""><a href="{{ path('category_details', {'catName':category.categoryName}) }}">{{ category.categoryName }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <h3 class="font-kirang-hearang text-info">{{ viewModel.selectedCategory.categoryName }} <small>({{ viewModel.articles|length }})</small></h3>
                            <div class="grid clearfix">

                                {% for article in viewModel.articles %}
                                    {% set rand = random(3) %}

                                    {% if rand == 0 %}
                                        {% embed 'partials/articles/small-card-with-background.html.twig' with {'article': article} %} {% endembed %}
                                    {% endif %}
                                    {% if rand == 1 %}
                                        {% embed 'partials/articles/small-card-with-image.html.twig' with {'article': article} %} {% endembed %}
                                    {% endif %}

                                    {% if rand == 2 %}
                                        {% embed 'partials/articles/small-card-without-image.html.twig' with {'article': article} %} {% endembed %}
                                    {% endif %}

                                    {% if rand == 3 %}
                                        {% embed 'partials/articles/default-card-with-background.html.twig' with {'article': article} %} {% endembed %}
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
                </div>
                {% embed 'partials/quotes/main-content-quote.html.twig' %} {% endembed %}
            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>
                    <!-- Top Stories -->
                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">{{ localLang.topArticles }}</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_top">
                                        <li class="custom_dot custom_dot_top active"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_top">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Top Stories Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_top">
                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_1.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_2.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_3.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_4.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_1.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_2.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_3.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image">
                                                        <div><img src="/images/top_4.jpg" alt=""></div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent
                                                            Mind
                                                        </div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


<!-- Footer -->

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category_responsive.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/category.js') }}"></script>
{% endblock %}