{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'partials/banner.html.twig' %} {% endembed %}

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">
            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="main_content">
                    <!-- Category -->
                    <div class="category">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">{{ localLang.blogPosts }}</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    {% for category in viewModel.categories %}
                                        <li class=""><a href="{{ path('category_details', {'catName':category.categoryName}) }}">{{ category.categoryName }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="section_panel_more d-none d-sm-block d-md-none">
                                <ul>
                                    <li>{{ localLang.more }}
                                        <ul>
                                            {% for category in viewModel.categories %}
                                                <li class=""><a href="{{ path('category_details', {'catName':category.categoryName}) }}">{{ category.categoryName }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <h3 class="font-kirang-hearang text-info">{{ viewModel.selectedCategory.categoryName }} <small>({{ viewModel.page.itemsCount }})</small></h3>
                            <div class="grid clearfix" id="catArticlesHolder" style="min-height: 250px;">
                                {% embed 'partials/articles/articles-cards-renderer.html.twig' with {'articles':viewModel.articles} %} {% endembed %}
                            </div>
                        </div>
                    </div>

                </div>

                 <div class="load_more">
                        {% if viewModel.page.pages > viewModel.page.pageable.page %}
                            <div id="load_more" class="load_more_button text-center trans_200">{{ localLang.loadMore }}</div>
                        {% endif %}
                    </div>
                {% embed 'partials/quotes/main-content-quote.html.twig' %} {% endembed %}
            </div>

            <!-- Sidebar -->
           {% embed 'partials/sidebar/sidebar.html.twig' %}
                {% block sections %}
                    {% embed 'partials/sidebar/top-stories-section.html.twig' %} {% endembed %}
                {% endblock %}
           {% endembed %}
        </div>

    </div>
<!-- Footer -->

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category_responsive.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/custom.js') }}"></script>
    <script src="{{ asset('styles/js/load-more.js') }}"></script>
    <script>
         var loadMoreManager = new LoadMoreManager('{{ path('categories_page_load_more_articles', {'catName':viewModel.selectedCategory.categoryName}) }}', 'load_more', 'catArticlesHolder');
    </script>
{% endblock %}