{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/regular.jpg"
             data-speed="0.8"></div>
        <div class="home_content">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-6 offset-lg-3 clearfix">
                        <!-- Post Comment -->
                        <div class="post_comment">
                            <div class="contact_form_container">
                                {% if info %}
                                    <h2 class="text-success">{{ info }}</h2>
                                {% endif %}
                                <form method="post">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <input name="feedback[name]" type="text"
                                                   class="contact_input "
                                                   placeholder="{{ localLang.yourName }}"
                                                    {% if app.user %} value="{{ app.user.username }}" {% else %}
                                                   value="{{ bindingModel.name }}" {% endif %}required="required">
                                            <div class="text-danger">
                                                <ul>
                                                    {% for err in twigUtil.errorToArray(form_errors(form1.name)) %}
                                                        <li>{{ localLang.forName(err) }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input name="feedback[email]" type="email"
                                                   class="contact_input "
                                                   placeholder="{{ localLang.yourEmail }}" required="required"
                                                    {% if app.user %} value="{{ app.user.email }}" {% else %} value="{{ bindingModel.email }}" {% endif %}>
                                            <div class="text-danger">
                                                <ul>
                                                    {% for err in twigUtil.errorToArray(form_errors(form1.email)) %}
                                                        <li>{{ localLang.forName(err) }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <textarea name="feedback[message]" class="contact_text"
                                                   placeholder="{{ localLang.yourMessage }}"
                                                   required="required">{{ bindingModel.message }}</textarea>
                                        <div class="text-danger">
                                            <ul>
                                                {% for err in twigUtil.errorToArray(form_errors(form1.message)) %}
                                                    <li>{{ localLang.forName(err) }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="hidden" name="token" value="{{ csrf_token('token') }}" required>
                                    <button type="submit" class="contact_button">{{ localLang.sendMessage }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact_responsive.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/contact.js') }}"></script>
{% endblock %}