{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/regular.jpg"
             data-speed="0.8"></div>
        <div class="home_content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <!-- Post Comment -->
                        <div class="post_comment">
                            <div class="contact_form_container">
                                <form action="#">
                                    <input type="text" class="contact_input contact_input_name" placeholder="{{ localLang.yourName }}"
                                           required="required">
                                    <input type="email" class="contact_input contact_input_email"
                                           placeholder="{{ localLang.yourEmail }}" required="required">
                                    <textarea class="contact_text" placeholder="{{ localLang.yourMessage }}"
                                              required="required"></textarea>
                                    <button type="submit" class="contact_button">{{ localLang.sendMessage }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact_responsive.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/contact.js') }}"></script>
{% endblock %}