{% extends 'base.html.twig' %}

{% block body %}

    <div class="home">
        {% embed 'partials/home-slider.html.twig' with {'sliderArticles':sliderArticles} %} {% endembed %}
    </div>

    <div class="page_content">
        <div class="container "
             style="background: linear-gradient(to right,rgba(249, 249, 232,0.5), rgba(221, 232, 255,0.5));">
            {% if error is defined and error != null %}
                <h2 class="alert alert-danger">{{ error }}</h2>
            {% endif %}
            {% if info is defined and info != null %}
                <h2 class="alert alert-success">{{ info }}</h2>
            {% endif %}
            <div class="row row-lg-eq-height">

                <!-- Main Content -->
                <div class="col-lg-9">
                    <div class="main_content">
                        <!-- Blog Section - What's Trending -->
                        <div class="blog_section">
                            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="section_title">{{ localLang.trendingArticles }}</div>
                                <div class="section_tags ml-auto">
                                    <ul>
                                        {#<li class="active"><a href="category.html">all</a></li>#}
                                        {% for cat in categories %}
                                            <li><a href="{{ path('categories_page') }}">{{ cat.categoryName }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="section_panel_more">
                                    <ul class="d-none d-sm-block d-md-none">
                                        <li>{{ localLang.more }}
                                            <ul>
                                                {% for cat in categories %}
                                                    <li>
                                                        <a href="{{ path('categories_page') }}">{{ cat.categoryName }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="section_content">
                                <div class="grid clearfix" id="popularGrid">
                                    {% set trendArtCount = 0 %}
                                    {% for article in trendingArticles %}
                                        {% set modulus = trendArtCount % 4 %}
                                        {% if modulus == 0  %}
                                            {% embed 'partials/articles/large-card-with-image.html.twig' with {'article':article} %} {% endembed %}
                                        {% else %}
                                            {% if modulus == 1 %}
                                                {% embed 'partials/articles/small-card-without-image.html.twig' with {'article':article} %} {% endembed %}
                                            {% else %}
                                                {% embed 'partials/articles/small-card-with-background.html.twig' with {'article':article} %} {% endembed %}
                                            {% endif %}
                                        {% endif %}
                                        {% set trendArtCount = trendArtCount + 1 %}
                                    {% endfor %}
                                    <script>
                                        $(function () {
                                            setTimeout(function () {
                                                $('#popularGrid').css('min-height', '750px');
                                            }, 600)
                                        })
                                    </script>
                                </div>

                            </div>
                        </div>
                        <!-- sub section -->
                        <div class="blog_section">
                            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="section_title">{{ localLang.subscribe }}</div>
                            </div>
                            {% embed 'partials/lang/' ~  localLang.localLang ~'/subscribe-form.html.twig' %}{% endembed %}
                        </div>

                        {% embed 'partials/quotes/main-content-quote.html.twig' %} {% endembed %}

                        <!-- Blog Section - Latest -->
                        <div class="blog_section">
                            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="section_title">{{ localLang.latestArticles }}</div>
                            </div>
                            <div class="section_content">
                                <div class="grid clearfix" id="latestPostsHolder">
                                    {% embed 'partials/articles/articles-cards-renderer.html.twig' with {'articles':latestPosts} %} {% endembed %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="load_more">
                        <div id="load_more" class="load_more_button text-center trans_200">{{ localLang.loadMore }}
                        </div>
                    </div>
                </div>

                {% embed 'partials/sidebar/sidebar.html.twig' %}
                    {% block sections %}
                        {% embed 'partials/sidebar/top-stories-section.html.twig' %} {% endembed %}
                    {% endblock %}
                {% endembed %}
            </div>

        </div>
    </div>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/custom-sub-form.css') }}">
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('styles/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.js') }}"></script>#}
    <script src="{{ asset('styles/js/custom.js') }}"></script>
    <script>
        var numberOfLatestArticles = Number('{{ latestPosts|length }}');

        $(function () {
            var latestPostsHolder = $('#latestPostsHolder');
            var btn = $('#load_more');

            btn.on('click', function () {
                btn.hide();
                $.ajax({
                    method: "GET",
                    url: "{{ path('latest_articles_load_more') }}?offset=" + numberOfLatestArticles,
                    success: function (data) {
                        if (data.indexOf('Number(\'0\')') !== -1) {
                            return;
                        }
                        latestPostsHolder.append(data).imagesLoaded(function () {
                            latestPostsHolder.masonry('reloadItems');
                            latestPostsHolder.masonry();
                            btn.show();
                        });
                    },
                    error: console.error
                })
            });
        });
    </script>
{% endblock %}