{% extends 'base.html.twig' %}

{% block body %}

    <div class="home">
        <!-- Home Slider -->
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">

                <!-- Slider Item -->
                <!--THIS DIV IS GOING TO BE FOR-EACHED!-->
                <!-- slider shows as many as we pass to it costom.js initHomeSlider() -->
                {% for sliderItem in sliderArticles %}
                    <div class="owl-item">
                    <div class="home_slider_background" style="background-image:url('{{ sliderItem.article.backgroundImageLink }}')"></div>
                    <div class="home_slider_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_slider_content" style="background:rgba(0,0,0,0.4); padding: 10px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;">
                                        <div class="home_slider_item_category trans_200"><a href="category.html" class="trans_200">{{ sliderItem.article.category.categoryName }}</a>
                                        </div>
                                        <div class="home_slider_item_title">
                                            <a href="{{ path('show_article', {'id':sliderItem.article.id}) }}">{{ sliderItem.article.title }}</a>
                                        </div>
                                        <div class="home_slider_item_link" >
                                            <a href="{{ path('show_article', {'id': sliderItem.article.id}) }}" class="text-light">
                                                {{ localLang.readMore }} &nbsp;<i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Similar Posts -->
                    <div class="similar_posts_container">
                        <div class="container">
                            <div class="row d-flex flex-row align-items-end">

                                <!-- Similar Posts -->
                                {% for similarArticle in sliderItem.similarArticles %}
                                <div class="col-lg-3 col-md-6 similar_post_col">
                                    <div class="similar_post trans_200">
                                        <a href="{{ path('show_article',{'id':similarArticle.id}) }}">{{ similarArticle.title }}</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="home_slider_next_container">
                            <div class="home_slider_next" style="background-image:url('{{ sliderItem.nextArticle.backgroundImageLink }}'); -webkit-background-size: cover;background-size: cover;">
                                <div class="home_slider_next_background trans_400"></div>
                                <div class="home_slider_next_content trans_400">
                                    <div class="home_slider_next_title">{{ localLang.nextArticle }}</div>
                                    <div class="home_slider_next_link">{{ sliderItem.nextArticle.title }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- dots control section -->
            <div class="custom_nav_container home_slider_nav_container">
                <div class="custom_prev custom_prev_home_slider">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <ul id="custom_dots" class="custom_dots custom_dots_home_slider">
                    {% for i in sliderArticles %}
                        <li class="custom_dot custom_dot_home_slider"><span></span></li>
                    {% endfor %}
                </ul>
                <div class="custom_next custom_next_home_slider">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="page_content">
        <div class="container">
            <!--style="	background: linear-gradient(to right,rgba(221, 232, 106,0.3), rgba(221, 232, 255,1));" -->
            <div class="row row-lg-eq-height">

                <!-- Main Content -->
                <div class="col-lg-9">
                    <div class="main_content">

                        <!-- Blog Section - What's Trending -->

                        <div class="blog_section">
                            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="section_title">What's Trending</div>
                                <div class="section_tags ml-auto">
                                    <ul>
                                        {#<li class="active"><a href="category.html">all</a></li>#}
                                        {% for cat in categories %}
                                            <li><a href="{{ path('categories_page') }}">{{ cat.categoryName }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="section_panel_more">
                                    <ul>
                                        <li>more
                                            <ul>
                                                <li><a href="category.html">new look 2018</a></li>
                                                <li><a href="category.html">street fashion</a></li>
                                                <li><a href="category.html">business</a></li>
                                                <li><a href="category.html">recipes</a></li>
                                                <li><a href="category.html">sport</a></li>
                                                <li><a href="category.html">celebrities</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="section_content">
                                <div class="grid clearfix">

                                    <!-- Large Card With Background -->
                                    <div class="card card_large_with_background grid-item">
                                        <div class="card_background"
                                             style="background-image:url(images/post_8.jpg)"></div>
                                        <div class="card-body">
                                            <div class="card-title"><a href="post.html">How Did van Gogh’s Turbulent
                                                    Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                            <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span>
                                            </small>
                                        </div>
                                    </div>

                                    <!-- Large Card With Image -->
                                    <div class="card grid-item card_large_with_image">
                                        <img class="card-img-top" src="images/post_9.jpg" alt="">
                                        <div class="card-body">
                                            <div class="card-title"><a href="post.html">How Did van Gogh’s Turbulent
                                                    Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                            <p class="card-text">Pick the yellow peach that looks like a sunset with its
                                                red, orange, and pink coat skin, peel it off with your teeth. Sink them
                                                into unripened...</p>
                                            <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span>
                                            </small>
                                        </div>
                                    </div>

                                    <!-- Default Card With Image -->
                                    <div class="card card_small_with_image grid-item">
                                        <img class="card-img-top" src="images/post_5.jpg" alt="">
                                        <div class="card-body">
                                            <div class="card-title card-title-small"><a href="post.html">How Did van
                                                    Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in
                                                    Physics?</a></div>
                                            <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span>
                                            </small>
                                        </div>
                                    </div>

                                    <!-- Default Card With Background -->

                                    <div class="card card_default card_default_with_background grid-item">
                                        <div class="card_background"
                                             style="background-image:url(images/post_6.jpg)"></div>
                                        <div class="card-body">
                                            <div class="card-title card-title-small"><a href="post.html">How Did van
                                                    Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                        </div>
                                    </div>

                                    <!-- Default Card No Image -->
                                    <div class="card card_default card_default_no_image grid-item">
                                        <div class="card-body">
                                            <div class="card-title card-title-small"><a href="post.html">How Did van
                                                    Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                        </div>
                                    </div>

                                    <!-- Default Card No Image -->
                                    <div class="card card_default card_default_no_image grid-item">
                                        <div class="card-body">
                                            <div class="card-title card-title-small"><a href="post.html">How Did van
                                                    Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                        </div>
                                    </div>

                                    <!-- Default Card With Background -->

                                    <div class="card card_default card_default_with_background grid-item">
                                        <div class="card_background"
                                             style="background-image:url(images/post_7.jpg)"></div>
                                        <div class="card-body">
                                            <div class="card-title card-title-small"><a href="post.html">How Did van
                                                    Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- sub section -->
                        <div class="blog_section">
                            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="section_title">{{ localLang.subscribe }}</div>
                            </div>
                            {% embed 'partials/lang/' ~  localLang.localLang ~'/subscribe-form.html.twig' %}{% endembed %}
                        </div>


                        <!--  example quote -->
                        <div class="blog_section">
                            <div class="section_panel d-flex flex-row">
                                <div class="section_title">Ричард бах</div>
                            </div>

                            <div class="section_content">
                                <hr>
                                <div class="flex align-items-center font-pacifico text-info" style="font-size: 1.8em;">
                                    Може ли разстоянието наистина да те раздели от приятелите ти... Ако искаш да си с
                                    някого, когото обичаш, не си ли вече там при него?<br>
                                    Can the distance really separate you from your friends?... If you want to be with someone you love, aren't you already there with him?
                                </div>
                                <hr>
                            </div>

                        </div>

                        <!-- Blog Section - Latest -->

                        <div class="blog_section">
                            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                                <div class="section_title">{{ localLang.latestArticles }}</div>
                            </div>
                            <div class="section_content" >
                                <div class="grid clearfix" id="latestPostsHolder" >
                                    {% for post in latestPosts %}
                                        {% embed 'partials/articles/small-card-with-background.html.twig' with {'article':post} %} {% endembed %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="load_more">
                        <div id="load_more" class="load_more_button text-center trans_200">{{ localLang.loadMore }}</div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="sidebar_background"></div>
                        <!-- Top Stories -->
                        <div class="sidebar_section">
                            <div class="sidebar_title_container">
                                <div class="sidebar_title">{{ localLang.topArticles }}</div>
                                <div class="sidebar_slider_nav">
                                    <div class="custom_nav_container sidebar_slider_nav_container">
                                        <div class="custom_prev custom_prev_top">
                                           <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </div>
                                        <ul id="custom_dots" class="custom_dots custom_dots_top">
                                            <li class="custom_dot custom_dot_top active"><span></span></li>
                                            <li class="custom_dot custom_dot_top"><span></span></li>
                                            <li class="custom_dot custom_dot_top"><span></span></li>
                                        </ul>
                                        <div class="custom_next custom_next_top">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar_section_content">

                                <!-- Top Stories Slider -->
                                <div class="sidebar_slider_container">
                                    <div class="owl-carousel owl-theme sidebar_slider_top">

                                        <!-- Top Stories Slider Item -->
                                        <div class="owl-item">

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_1.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_2.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_3.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_4.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>

                                        <!-- Top Stories Slider Item -->
                                        <div class="owl-item">

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_1.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_2.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_3.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_4.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>

                                        <!-- Top Stories Slider Item -->
                                        <div class="owl-item">

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_1.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_2.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_3.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <!-- Sidebar Post -->
                                            <div class="side_post">
                                                <a href="post.html">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_image">
                                                            <div><img src="images/top_4.jpg" alt=""></div>
                                                        </div>
                                                        <div class="side_post_content">
                                                            <div class="side_post_title">How Did van Gogh’s Turbulent
                                                                Mind
                                                            </div>
                                                            <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- example quote -->
                        <br>
                        <div class="sidebar_section">
                            <div class="sidebar_title_container">
                                <div class="sidebar_title font-pacifico">Ричард Бах</div>
                            </div>

                            <div class="sidebar_section_content">
                                <p class="font-pacifico text-info"  style="font-size: 1.6em;">  Може ли разстоянието наистина да те раздели от приятелите ти... Ако искаш да си с
                                    някого, когото обичаш, не си ли вече там при него?</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/custom-sub-form.css') }}">
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('styles/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.js') }}"></script>#}
    <script>
        var numberOfLatestArticles = Number('{{ latestPosts|length }}');

        $(function () {
            var latestPostsHolder = $('#latestPostsHolder');

            $('#load_more').on('click', function () {
                $.ajax({
                    method:"GET",
                    url:"{{ path('load_more_articles') }}?offset=" + numberOfLatestArticles,
                    success:function (data) {
                        latestPostsHolder.append(data).imagesLoaded(function () {
                            latestPostsHolder.masonry( 'reloadItems' );
                            latestPostsHolder.masonry();
                        });
                    },
                    error:console.error
                })
            });
        });
    </script>
{% endblock %}