{% extends 'base.html.twig' %}
{# @var localLang \AppBundle\Contracts\ILanguagePack #}
{% block title %}{{ localLang.websiteName }} - {{ localLang.subscribe }}  {% endblock %}
{% block body %}
    {% embed 'partials/banner.html.twig' %} {% endembed %}

    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-9">
                    <div class="row pt-2 pb-2">
                        <div class="col-md-6 rounded bg-white">
                            {{ articleContent|raw }}
                        </div>
                        <div class="col-md-6">
                            <form action="{{ path('subscribe_global') }}" method="post">
                                <div class="form-group">
                                    <input class="btn btn-lg" name="email" id="email" type="email" placeholder="{{ localLang.yourEmail }}" required>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="token" value="{{ csrf_token('token') }}">
                                    <button class="btn btn-outline-info" type="submit">{{ localLang.subscribe }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/custom.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact_responsive.css') }}">
{% endblock %}