{% extends 'base.html.twig' %}

{% block title %}Admin Panel {% endblock %}

{% block body %}
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll"
             data-image-src="{% block sectionBackground %}/images/category.jpg{% endblock %}"
             data-speed="0.8"></div>
    </div>

    <div class="page_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    {% if info is defined and info %}
                        <h3 class="alert response-text alert-success">{{ info }}</h3>
                    {% endif %}
                    {% if error is defined and error %}
                        <h3 class="alert response-text info alert-danger">{{ error }}</h3>
                    {% endif %}
                    <div class="main_content">
                        {% block sectionBody %}
                            <h3 class="text-dan">Select one of the options from the sidebar</h3>
                        {% endblock %}
                    </div>
                </div>
                {% embed 'partials/sidebar/sidebar.html.twig' %}
                    {% block sections %}
                        <div class="sidebar_section">
                            <div class="sidebar_title_container">
                                <div class="sidebar_title">Users</div>
                            </div>
                            <div class="sidebar_section_content pt-0">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{{ path('notify_all') }}">Notify all users</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{{ path('users_observe') }}">Roles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar_section">
                            <div class="sidebar_title_container">
                                <div class="sidebar_title">Subscribers</div>
                            </div>
                            <div class="sidebar_section_content pt-0">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{{ path('email_all_get') }}">Email all subscribers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar_section">
                            <div class="sidebar_title_container">
                                <div class="sidebar_title">Categories</div>
                            </div>
                            <div class="sidebar_section_content pt-0">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{{ path('create_category') }}">Add Category</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar_section">
                            <div class="sidebar_title_container">
                                <div class="sidebar_title">Quotes</div>
                            </div>
                            <div class="sidebar_section_content pt-0">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{{ path('create_quote') }}">Add Quote</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{{ path('observe_quotes') }}">All Quotes</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact_responsive.css') }}">
    {% block  sectionStyles %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/js/custom.js') }}"></script>
    <script>
        $(function () {
            setTimeout(function () {
                $('.response-text').fadeOut(1000);
            }, 3000);
        });
    </script>
    {% block sectionScripts %} {% endblock %}
{% endblock %}
