<h3>New post from {{ article.author.username }}</h3>
<div>
    <p>{{ article.title }}</p>
    <small>{{ article.summary }}</small><br>
    <a href="{{ url('homepage') }}post/{{ article.id }}">Read more</a>
</div>
<br>
<br>
<br>
<br>
<br>
{% embed 'mail/partials/lang/en/unsubscribe.html.twig' %} {% endembed %}