<div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
    <div class="author_image">
        <div><img src="{{ article.author.profileImage }}" alt=""></div>
    </div>
    <div class="post_meta">
        <a href="{{ path('user_details', {'username': article.author.username}) }}">{{ article.author.username }}</a>
        <span>{{ article.dateAdded.format(twigInformer.simpleDateFormat) }}</span>
        {% if app.user %}
            {% if article.author.id == app.user.id %}
                <span><a href="{{ path('edit_article',  {'id':article.id}) }}"
                         class="btn btn-sm btn-outline-primary text-dark">Edit</a></span>
            {% else %}
                <span>
                    {% embed 'partials/follow-and-sub/follow-btn.html.twig' with {'targetUser':article.author} %} {% endembed %}
                </span>
            {% endif %}
        {% endif %}
    </div>
    <div class="post_share ml-sm-auto">
        <span>{{ localLang.share }}</span>
        <ul class="post_share_list">

            <li class="post_share_item"><a
                        href="https://www.facebook.com/sharer/sharer.php?app_id={{ twigInformer.appId }}&sdk=joey&u={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}&display=popup&ref=plugin&src=share_button"
                        onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"><i
                            class="fa fa-facebook" aria-hidden="true"></i></a></li>
            {#<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
            {#<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>#}
        </ul>
    </div>
</div>