<!-- Small Card With Image -->
{# @var twigUtil \AppBundle\Util\TwigUtil #}
<div class="card card_small_with_image grid-item">
    <a href="{{ path('show_article', {'id': article.id}) }}"> <img class="card-img-top" src="{{ article.backgroundImageLink }}" alt="{{ article.summary }}" style="max-height: 200px;"></a>
    <div class="card-body">
        <div class="card-title card-title-small">
            <a href="{{ path('show_article', {'id': article.id}) }}">{{ article.title }}</a>
        </div>
        <small class="post_meta">
            <a href="{{ path('user_details', {'username':article.author.username}) }}">
                {{ twigUtil.resolveUsername(article.author) }}
            </a>
            <span>
                {{ article.dateAdded.format("d - M - Y") }}
            </span>
            {% if app.user %}
                {% embed 'partials/articles/article-star.html.twig' with {'article':article} %} {% endembed %}
            {% endif %}
        </small>
    </div>
</div>