<form method="post" enctype="multipart/form-data" action="{{ path('security_register') }}" name="authenticate" class="mt-1 mb-1">

    <h3 class="text-dark">Регистрация</h3>
    {% if errors %}
        {% for err in errors %}
            <h5 class="alert alert-danger">{{ localLang.forName(err.message) }}</h5>
        {% endfor %}
    {% endif %}

    {% if error %}
        <h5 class="alert alert-danger">{{ error }}</h5>
    {% endif %}

    <div class="text-dark">

        <div class="form-group">
            <label for="username">Потребителско име</label>
            <input id="username" name="user_register[username]" maxlength="35" value="{{ userform.username }}" type="text" required placeholder="Потр. име" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email адрес</label>
            <input id="email" name="user_register[email]" maxlength="35" value="{{ userform.email }}" type="email" required placeholder="Email"  class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Парола:</label>
            <input id="password" minlength="{{ twigInformer.passwordMinLength }}" name="user_register[password]" type="password" maxlength="20" required placeholder="Поне {{ twigInformer.passwordMinLength }} знака" class="form-control">
        </div>
        <div class="form-group">
            <label for="passwordConf">Парола отново:</label>
            <input id="passwordConf" name="user_register[confPassword]" type="password" required placeholder="Потв. парола" class="form-control">
        </div>

        {{ form_row(form._token) }}

        <div class="actions"><input tabindex="9" class="btn btn-primary " type="submit" value="Създаване на профил"></div>
    </div>

</form>